<nav role="navigation" class="header navbar navbar-expand-md navbar-dark fixed-top" id="home-header">
  <div class="container">
    <div class="col-6 left-section">
        <a class="pull-left navbar-logo" href="#">
          <!-- <img class="wow fadeInUp" data-wow-delay="3s" src="../../../assets/images/logo.jpg"/> -->
          LOGO
        </a>
      </div>
      <div class="col-6 right-section">
        <div class="pull-right wow fadeInDown" (click)="openNavItems()" data-wow-delay="3s" id="menuToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="pull-right" id="close-icon" (click)="closeNavItems()" >
            <i class="fa fa-times-thin fa-4x" aria-hidden="true"></i>
        </div>
      </div>
  </div>
</nav>