<div class="xs-padding ">
	<div class="col-12 tag-line-section">
    <article>
      <h2 class="wow fadeInUp intro" data-wow-delay="1s">Hello,</h2>
      <h1 class="wow fadeInUp profile-name fontSize1" data-wow-delay="2s" >
          I am animated
      </h1>
      <h2 class="wow fadeInUp tagline" data-wow-delay="2s">Explore !!</h2>
    </article>
  </div>
  <div class="col-12 about-me-section">
    <article class="wow flipInX">
      <h1 class="fontSize1">The thought to <span class="white">make</span></h1>
      <h1 class="fontSize1">good <span class="white">design</span> is what</h1>
      <h1 class="fontSize1">wakes me up <span class="white">each day</span></h1>
    </article>
  </div>
</div>
