$fa-font-path : '../node_modules/font-awesome/fonts';
@font-face {
    font-family: 'Avenir Next Regular';
    src: url("./assets/fonts/AvenirNext-Regular.ttf");
}
@font-face {
    font-family: 'Avenir Next Bold';
    src: url("./assets/fonts/AvenirNext-Bold.ttf"); 
}